.Time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.Time h2 {
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    border-bottom: 4px solid;
    padding-bottom: 8px;
}

.Time .Colaboradores {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}